@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color:#f4a261;
    margin: 5px 20px 5px 20px;
    padding-inline: 13%;
}

h1{
color: red;
font-family: "Orbitron", serif;
text-align: center;
}

h2{
text-align: center;
font-family: "Orbitron", serif;

}

p{
font-size: 20px;
text-align: center;
font-family: "Orbitron", serif;

}

select {
    display: block;
    margin: 10px auto;
  }