.card{
    border: 3px solid;
   background-color: #E8E8E4;
    width: 300px;
    padding: 16px; 
    box-sizing: border-box;
    /* to make them side by side */
    /* float: left;
    height: 320px; */
} 

#container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: left;
    padding: 15px;

}

#explainer{
    border: 3px solid;
   background-color: #E8E8E4;
    width: 100%;
    max-width: 1250px;
    padding: 16px; 
    box-sizing: border-box;
    /* display: flex;
    flex-wrap: wrap; */
    gap: 20px;
    justify-content: left;
    margin-bottom: 20px;
    margin: 20px auto;
}
    
body{
    background-color: #D8E2DC;
}
.dropdown{
    color: #E8E8E4;
    font-size: 16px;
    cursor: pointer; 
}

#filterDropdown {
    margin: 15px;
    padding: 8px;
    font-size: 16px;
}

@media only screen and (max-width: 600px){
    #container{
        flex-direction: column;
    }
    #explainer{
        flex-direction: row;
    }
}
